table.actionTable {
  thead>tr>th:last-child {
    width     : 60px;
    text-align: center;
    padding   : 0px;
    margin    : 0px;
  }

  tbody>tr>td {

    &:last-child,
    &:nth-last-child(2) {
      width  : 30px;
      padding: 0px;
      margin : 0px;
    }
  }
}

@media screen and (max-width: 849px) {
  .responsive-large {
    display: none !important;
  }
}

@media screen and (min-width: 850px) {
  .responsive-small {
    display: none !important;
  }
}
@media screen and (max-width: 816px) and (min-width: 716px) {
  .responsive-small .MuiTab-root {
    min-width: 140px;
  }
}
@media screen and (max-width: 716px) and (min-width: 616px) {
  .responsive-small .MuiTab-root {
    min-width: 120px;
  }
}
@media screen and (max-width: 616px) and (min-width: 516px) {
  .responsive-small .MuiTab-root {
    min-width: 100px;
  }
}
@media screen and (max-width: 516px) and (min-width: 416px) {
  .responsive-small .MuiTab-root {
    min-width: 80px;
  }
}
@media screen and (max-width: 416px) and (min-width: 316px) {
  .responsive-small .MuiTab-root {
    min-width: 60px;
  }
}
